/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


/* Layout */

#game-screen {
    display: grid;
}

#start-button {
    place-self: center;
}

#diva-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#battle-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    #player-diva {
        grid-column: 1;
    }
    #attack-window {
        grid-column: 2;
        place-self: center;
    }
    #enemy-diva {
        grid-column: 3;
    }
}

.diva-card {
    text-align: center;
    .diva-image-container {
        .diva-image {
            width: 100%;
            height: auto;
        }
        width: 20rem;
        height: 20rem;
    }
}

#battle-menu {
    display: grid;
    place-items: center;
}


/* Other Style */


/* Fonts */